
body {
    background-color: blue;
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    grid-template-areas: 
    ". h1 ."
    ". ballon ."
    ". . .";
}


.Container {
    grid-area: ballon;
    flex-direction: column;
    display: flex;
}

h1 {
    grid-area: h1;
    align-self: end;
}

button {
    border: 1px solid black;
    font-size: 1rem;
    height: 25px;
    width: 145px;
    cursor: pointer;
}